*{
    margin: 10;
    padding: 0;
    font-family: sans-serif;
}

#formulario{
    display: grid;
    grid-template-columns: auto auto;
    border: solid black 0.1px;
    width: 300px;
    height: 150px;
    align-items: center;
}

#formulario div{
    border: solid black 0.1px;
}

#formulario div label{
    padding-left: 2px;
}

#formulario div button{
    margin-left: 2px;
}

.sectionResultados{
    margin-top: 10px;
    width: 300px;
    min-height: 180px;
    border: black solid 1.5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sectionResultados label{
    margin-top: 10px;
    border-bottom: solid black 0.1px;
    width: 300px;
    padding-left: 5px;
}

.invisivel{
    display: none;
}